/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.main_header h1{
	margin-left: 5px;
	margin-top: 24px;
	font-size: 20px;
	}
	.owl-page {
	display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.main_header h1{
	margin-left: 5px;
	margin-top: 36px;
	font-size: 30px;
	}
	.main_button {
	display: none;
	}
	.owl-page {
	display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main_header h1{
	font-size: 46px;
	}
	.main_button {
		display: block;
	margin-left: 5px;
	}
	.owl-page {
	display: inline-block;	
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main_header h1{
	margin-left: 10px;
	margin-top: 70px;
	font-size: 60px;
	}
	.main_button {
	margin-left: 24px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.main_header h1{
	display: inline-block;
	font-family: "HelveticaNeue-Thin";
	margin-top: 62px;
	margin-left: 58px;
	font-size: 65px;
	}
	.main_button {
	margin-left: 42px;
	}
}