/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#owl-demo .item img{
	display: none;
	}
	#owl-demo .item {
	text-align: center;
	}
	.main_button {
	margin: auto;
	}
	.main_header h1{
	margin-left: auto; 
	margin-right: auto
	}
	.owl-pagination {
	margin: auto;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width: 425px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 425px) and (max-width: 760px){

}

/* Small Devices, Tablets */
@media only screen and (min-width : 760px) and (max-width: 992px){

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)  {

}